@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<h3>specialty: @Model["specialty"].GetSpecialty()</h3>
<hr>
@if (@Model["specialtyStylists"].Count != 0)
{
  <h4> These stylists are with this specialty:</h4>

  <ul>
  @foreach (var stylist in @Model["specialtyStylists"])
  {
    <li>@stylist.GetName()</li>
  }
  </ul>
}
<br>
<hr>
<h4>Add a stylist to this specialty:</h4>
<form action='/specialties/@Model["specialty"].GetId()/stylists/new' method="post">
  <label for="stylist-id"> Select a stylist</label>
  <select id="stylist-id" name="stylist-id" type= "text">
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value='@stylist.GetId()'>@stylist.GetName()</option>
    }
  </select>
  <br>
  <hr>
  <button type="submit"> Add </button>
</form>
<br>
<p><a href="/"> Home </a></p>
