@{
  Layout="_Layout";
}
@using HairSalon.Models;

<center><h1>Stylist: @Model["stylist"].GetName()</h1>

<hr>
@if (@Model["stylistClients"].Count != 0)
{
  <h4>Here are all the clients in this stylist:</h4>
  <ul>
  @foreach (var client in @Model["stylistClients"])
  {
    <li>@client.GetName()</li>
  }
  </ul>
}

<h4>Add an client to this stylist:</h4>
<form action='/stylists/@Model["stylist"].GetId()/clients/new' method="post">
  <label for="client-id">Select an client:</label>
  <select id="client-id" name="client-id" type="text">

    @foreach (var client in @Model["allClients"])
    {
      <option value="@client.GetId()">@client.GetName()</option>
    }
  </select>
  <br>
  <button type="Submit">Add</button>
</form>
<br>

<p><a href="/">Return to Main Page</a></p></center>
